* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:focus, 
button:focus  {
    outline: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
body {
    background: url(../images/Battleships.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    color: #000;
}
 /* .small-container{
    margin: auto;
    max-width: 350px;
    background-color: aliceblue; 
    padding: 30px;  
}nuyn e inch container  */
input {
margin-bottom: 20px !important;
width: 100%;
padding: 10px;
}
.card-body{
    background-color: aliceblue; 

}
.btn {
    cursor: pointer;
    padding: 10px;
    background-color: #484864;
    border: 0;
    color: #fff;
    font-size: 20px;
}
.btn-100 {
width: 100%;
} 

.align-center {
  display: flex;
  align-items: center;
  justalignify-content: center;
  min-height: 100vh;
}
.register-text {
    text-align: center;
    margin-top: 20px;
}
.register-text a {
    color: aquamarine;
    margin-left: 3px;
    font-weight: 600;
}


#gameboard {
	position:relative;
	margin:0 auto 2em auto;
	width:500px;
	height:500px;
}

#gameboard div {
	position:absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: #f6f8f9; /* Old browsers */
	border: 1px solid #ddd;
	width:50px;
	height:50px;
}
